<h1 class="content-title">About Me</h1>
<div class="content-title-bottom-border"></div>
<div class="container-block">
  <div class="content-block fast-fade-in">
    <h3>Background.</h3>
    <p>I grew up in Washington state and moved to Bend, Oregon in 2001. I love solving problems, and I'm passionate about programming and refining my skills as a developer. I enjoy hiking, camping, gaming, and coding. I recently moved to Portland, Oregon where I'm a student at Epicodus, a coding bootcamp for web development.</p>
    <h3>Experience.</h3>
    <p>Prior to taking the C# / React course at Epicodus, I worked as an Application Support Specialist at G5, a tech company in Bend that specializes in digital marketing. As an Application Support Specialist, I recreated, documented, and escalated technical issues impacting G5 applications to the engineering team. I also assisted with coding bug fixes and features for G5 applications, helped execute test plans during application deployments, and assisted with deploying and monitoring G5 applications.</p>
    <h3>Education.</h3>
    <p>While working at G5, I took classes attended Central Oregon Community College and Oregon State University where I received an Associate of Computer Science degree. In my spare time, I enjoy creating web apps and coding tools to help with day-to-day activities.</p>
    <h3>Interests and Hobbies.</h3>
    <ul>
      <li>Learning new and interesting frameworks and technologies</li>
      <li>Hiking and camping</li>
      <li>Gaming</li>
      <li>Dungeons & Dragons</li>
      <li>Beer</li>
      <li>Live music</li>
    </ul>
  </div>
</div>
