<h1 class="content-title">About Me</h1>
<div class="content-title-bottom-border"></div>
<div class="container-block">
  <div class="content-block fast-fade-in">
    <h3>Background.</h3>
    <p>{{background}}</p>
    <h3>Experience.</h3>
    <p>{{experience}}</p>
    <h3>Education.</h3>
    <p>{{education}}</p>
    <h3>Proficiencies.</h3>
    <ul>
      <li *ngFor="let proficiency of proficiencies">{{proficiency}}</li>
    </ul>
    <h3>Interests and Hobbies.</h3>
    <ul>
      <li *ngFor="let hobby of hobbies">{{hobby}}</li>
    </ul>
  </div>
</div>
