<div class="nav medium-fade-in">
  <ul>
    <li>
      <a href="index.html" title="Home" class="link-box">
        <span class="glyphicon glyphicon-home large-glyph" aria-hidden="true"></span><br/>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="about.html" title="About Me" class="link-box">
        <span class="glyphicon glyphicon-user large-glyph" aria-hidden="true"></span><br/>
        <span>About Me</span>
      </a>
    </li>
    <li>
      <a href="projects.html" title="Projects" class="link-box">
        <span class="glyphicon glyphicon-folder-open large-glyph" aria-hidden="true"></span><br/>
        <span>My Projects</span>
      </a>
    </li>
  </ul>
</div>