<div class="nav medium-fade-in">
  <ul>
    <li>
      <a href="#" title="Home" class="link-box">
        <fa name="home" class="large-fa-icon"></fa><br/>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="#" title="About Me" class="link-box">
        <fa name="user" class="large-fa-icon"></fa><br/>
        <span>About Me</span>
      </a>
    </li>
    <li>
      <a href="#" title="Projects" class="link-box">
        <fa name="folder-open" class="large-fa-icon"></fa><br/>
        <span>My Projects</span>
      </a>
    </li>
  </ul>
</div>