<h1 class="content-title">Admin</h1>
<div class="content-title-bottom-border"></div>
<div class="container-block">
  <div class="admin-panel-box">
    <ul class="admin-panel-nav">
      <li>
        <button class="btn btn-lg btn-success" (click)="toggleAddForm()">
          <fa name="plus"></fa>
          Add Project
        </button>
      </li>
      <li>
        <button class="btn btn-lg btn-warning" (click)="toggleEditForm()">
          <fa name="pencil"></fa>
          Edit Project
        </button>
      </li>
      <li>
        <button class="btn btn-lg btn-danger" (click)="toggleDeleteForm()">
          <fa name="exclamation-circle"></fa>
          Delete Project
        </button>
      </li>
    </ul>
  </div>
  <!-- add project form -->
  <div class="content-block fast-fade-in" *ngIf="showAddForm">
    <h4>Add Project</h4>
    <div class="form-group">
      <label for="imgUrl">Thumbnail Image Url:</label>
      <input #newImgUrl class="form-control" id="imgUrl" autofocus="true">
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input #newTitle class="form-control" id="title">
    </div>
    <div class="form-group">
      <label for="desc">Description:</label>
      <input #newDesc class="form-control" id="desc">
    </div>
    <div class="form-group">
      <label for="githubLink">Github URL:</label>
      <input #newGithubLink class="form-control" id="githubLink">
    </div>
    <button class="btn btn-lg btn-primary" (click)="submitForm(newImgUrl.value, newTitle.value, newDesc.value, newGithubLink.value)">
      Submit
    </button>
  </div>
  <!-- edit project form -->
  <div class="content-block fast-fade-in" *ngIf="showEditForm">
    <h4>Edit Project</h4>
    List projects with edit buttons next to each
  </div>
  <!-- delete project form -->
  <div class="content-block fast-fade-in" *ngIf="showDeleteForm">
    <h4>Delete Project</h4>
    List projects with delete buttons next to each
  </div>
</div>