<div *ngIf="user">
  <h1 class="content-title">Admin</h1>
  <div class="content-title-bottom-border"></div>
  <div class="container-block">
    <div class="admin-panel-box">
      <ul class="admin-panel-nav">
        <li>
          <button class="btn btn-lg btn-success" (click)="toggleAddForm()">
            <fa name="plus"></fa>
            Add Project
          </button>
        </li>
        <li>
          <button class="btn btn-lg btn-warning" (click)="toggleEditForm()">
            <fa name="pencil"></fa>
            Edit Projects
          </button>
        </li>
        <li>
          <button class="btn btn-lg btn-danger" (click)="toggleDeleteForm()">
            <fa name="exclamation-circle"></fa>
            Delete Projects
          </button>
        </li>
        <li>
          <button class="btn btn-lg btn-primary" (click)="runLogout()">
            <fa name="sign-out"></fa>
            Logout
          </button>
        </li>
      </ul>
    </div>
    <!-- add project form -->
    <div class="content-block fast-fade-in" *ngIf="showAddForm">
      <h4>Add Project</h4>
      <div class="form-group">
        <label for="imgUrl">Thumbnail Image Url:</label>
        <input #newImgUrl class="form-control" id="imgUrl" autofocus="true">
      </div>
      <div class="form-group">
        <label for="imgAltTag">Image Alt Tag:</label>
        <input #imgAltTag class="form-control" id="imgAltTag">
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input #newName class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="desc">Description:</label>
        <input #newDesc class="form-control" id="desc">
      </div>
      <div class="form-group">
        <label for="githubLink">Github URL:</label>
        <input #newGithubLink class="form-control" id="githubLink">
      </div>
      <div class="form-group">
        <label for="linkTitleTag">Link Title Tag:</label>
        <input #linkTitleTag class="form-control" id="linkTitleTag">
      </div>
      <button class="btn btn-lg btn-success" (click)="submitForm(
                                                        newImgUrl.value,
                                                        imgAltTag.value,
                                                        newName.value,
                                                        newDesc.value,
                                                        newGithubLink.value,
                                                        linkTitleTag.value
                                                      )">
        <fa name="plus"></fa>
        Add
      </button>
    </div>
    <!-- edit project form -->
    <div class="content-block fast-fade-in" *ngIf="showEditForm">
      <h4>Edit Projects</h4>
      <ul class="project-list" *ngFor="let project of projects | async">
        <li>
          <fa name="folder" class="admin-project-icon"></fa>
          {{project.name}}
          <button class="btn btn-med btn-default btn-warning project-btn-left-margin" (click)="editProjectClicked(project)">
            <fa name="pencil"></fa>
            Edit
          </button>
        </li>
      </ul>
      <div *ngIf="selectedProject">
        <div class="form-group">
          <label for="imgUrl">Thumbnail Image Url:</label>
          <input [(ngModel)]="selectedProject.imgUrl" class="form-control" id="imgUrl" autofocus="true">
        </div>
        <div class="form-group">
          <label for="imgAltTag">Image Alt Tag:</label>
          <input [(ngModel)]="selectedProject.imgAltTag" class="form-control" id="imgAltTag">
        </div>
        <div class="form-group">
          <label for="name">Name:</label>
          <input [(ngModel)]="selectedProject.name" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="desc">Description:</label>
          <input [(ngModel)]="selectedProject.description" class="form-control" id="desc">
        </div>
        <div class="form-group">
          <label for="githubLink">Github URL:</label>
          <input [(ngModel)]="selectedProject.githubLink" class="form-control" id="githubLink">
        </div>
        <div class="form-group">
          <label for="linkTitleTag">Link Title Tag:</label>
          <input [(ngModel)]="selectedProject.linkTitleTag" class="form-control" id="linkTitleTag">
        </div>
        <button class="btn btn-lg btn-success" (click)="updateProjectClicked(selectedProject)">
          <fa name="pencil"></fa>
          Update
        </button>
        <button class="btn btn-lg btn-danger" (click)="cancelEdit()">
          <fa name="ban"></fa>
          Cancel
        </button>
      </div>
    </div>
    <!-- delete project form -->
    <div class="content-block fast-fade-in" *ngIf="showDeleteForm">
      <h4>Delete Projects</h4>
      <ul class="project-list" *ngFor="let project of projects | async">
        <li>
          <fa name="folder" class="admin-project-icon"></fa>
          {{project.name}}
          <button class="btn btn-med btn-default btn-danger project-btn-left-margin" (click)="deleteProjectClicked(project)">
            <fa name="exclamation-circle"></fa>
            Delete
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <p class="center" id="invalid-access">You must be logged in to view this page.</p>
</div>