.admin-panel-box {
  margin-bottom: 60px;
}

.admin-panel-nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align:  center;
}

.admin-panel-nav li {
  display: inline-block;
  margin-right: 10px;
}

.admin-cms-editor-btn {
  width: 180px;
}

.admin-cms-control-menu {
  margin-bottom: 50px;
}

.cms-controls-title {
  margin-bottom: 30px;
}

.cms-editor-block {
  margin-top: 50px;
  text-align: left;
}

.form-group {
  margin-top: 40px;
}

.project-list {
  list-style-type: none;
}

.project-list li {
  margin-top: 20px;
  width: 100%;
}

.project-btn {
  margin-right: 20px;
}

.admin-project-icon {
  font-size: 20px;
  margin-right: 10px;
}

#invalid-access {
  height: 200px;
  padding-top: 50px;
}

/* reponsive styles */
@media screen and (max-width: 902px) {
  .content-block {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .admin-panel-nav li {
    display: block;
    margin: 10px 0px;
    width: 100%;
  }

  .admin-cms-editor-btn {
    width: 70%;
  }
}

@media screen and (max-width: 602px) {
  .admin-panel-nav li, .admin-cms-control-menu .btn {
    display: block;
    margin: 10px 0px;
    width: 100%;
  }

  .content-block .btn {
    display: block;
    margin: 10px 0px;
    width: 100%;
  }

  .project-list {
    padding: 0px;
  }

  .project-list li {
    width: 100%;
  }
}
